#control-panel {
    position: absolute;
    width: 55.6%;
    height: 63%;
    left: 18.8%;
    top: 6.8%;
    border: 3vw solid transparent;
    border-image: url(../img/icons/box2.png) 30 round;
    padding: 0;
    z-index: 10000;
    display:none;
}

#control-panel-content-container {
    margin: -2.5vw 0 0 -2.52vw;
    border-radius: 10px;
    width: 109.2%;
    height: 113.8%;
    background-color: black;
    opacity: 0.8;
}

#control-panel-toggle {
    position: absolute;
    width: 50.0%;
    height: 2.8%;
    left: 24.8%;
    top: 78.0%;
    border: 0.3vw solid rgba(255, 255, 255, 0);
    background-color: #5cb6f6;
    opacity: 0.8;
    border: 0.2vw solid black;
    border-radius: 1vw;
    cursor: pointer;
    text-align:center;
    font-size: 1.1vw;
    z-index: 10001;
    overflow:hidden;
}

#control-panel-toggle .span {
    opacity: 1;
}

#control-panel-toggle:hover {
    opacity: 1;
}

#control-panel-content {
    margin-left: 0.4vw;
    opacity: 1;
}

.tab-selector {
    display: inline;
    width: 108.2%;
    height: 10%;
    font-size: 1.1vw;
}

.tab {
    float:left;
    list-style:none;
    border-left:0.2vw solid rgb(71, 124, 185);
    outline:none;
    background-color: black;
    text-align: center;
    cursor:pointer;
}

.tab:first-of-type {
    border: 0;
}

.tab a {
    padding: 0.22vw 2.35vw;
    outline:none;
    display:block;
    background: black;
    text-decoration:none;
}

.tab a:not(.inactive) {
    color: white;
    border-bottom: 0.2vw solid black;
}

.tab a.inactive{
    color: rgb(171, 224, 255);
    border-bottom: 0.2vw solid rgb(71, 124, 185);
}

.tab-selector .tab a:hover {
    text-shadow: 0 0 60px green;
}

.tab-content {
    width: 100%;
    height: 38.3vw;
    color: white;
    /*border: 1px solid rgb(71, 124, 185);*/
    font-size: 1.1vw;
    overflow-y: auto;
}

.poll-container {
    margin-bottom: 1vw;
}

.poll-container .pollName, .skillName {
    color: #b9936f;
}

.currentValue {
    float: left;
    background-color: rgb(71, 124, 185);
    opacity: 0.8;
    overflow: visible !important;
    white-space: nowrap;
}

.poll-container > table {
    width: 100%;
    border: 0.2vw solid rgb(71, 124, 185);
    border-collapse: yes;
}

.poll-container > table td:nth-child(1) {
    width: 60%;
}

.poll-container > table td:nth-child(2) {
    width: 25%;
}

.poll-container input[type=number]::-webkit-inner-spin-button,
.poll-container input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

.poll-container input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    width:5vw;
    text-align: center;
}

.scrollers {
    display: inline-block;
    width:2.7vw;
}

.numberup, .numberdown  {
    display: inline-block;
    width:1.3vw;
    height:1.1vw;
    background-size: cover;
    vertical-align: middle;
}

.numberup {
    background: url(../img/icons/numberup.png) no-repeat center;
}

.numberdown {
    background: url(../img/icons/numberdown.png) no-repeat center;
}

.poll-container .submitBtn:hover {
    opacity: 1;
}

.pollError {
    color: darkred;
    text-shadow: 0.1vw 0vw 0.1vw red;
}

.pollInfo {
    color: darkgreen;
    text-shadow: 0.1vw 0vw 0.1vw green;
}

.poll-container .submitBtn.disabled {
    border: 0.1vw solid rgb(50, 50, 50);
    color: rgb(50, 50, 50);
    cursor: arrow;
}

.poll-container .submitBtn {
    font-size: 1.1vw;
    font-family: Michroma;
    margin-left: 0.2vw;
    border: 0.1vw solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}

.poll-container .terra {
    font-size: 1.1vw;
    background-color: black;
    color: white;
    width: 35%;
}

.skillGroup {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.skillProgressbar {
    /* margin-left: 2vw;*/
    width: 22.2vw;
    height: 1.4vw;
    border: 0.1vw solid #060b16;
    border-width: 0.3vw 0.7vw;
}

#skillContainer {
    background-color: black;
    position: absolute;
    display: block;
    border: 0.2vw solid rgb(71, 124, 185);
    width: 105%;
    height: 76%;
    overflow-y: hidden;
    top: 0%;
    padding-top: 1%;
    padding-left: 2%;
}

#skillHint {
    display: none;
}
#skillHintBox {
    display: none;
    margin-bottom: 0.5vw;
    font-size: 1vw;
}

#skillHintContainer {
    text-align: center;
    background-color: black;
    position: absolute;
    z-index:100000;
    display: block;
    border: 0.2vw solid rgb(71, 124, 185);
    width: 107%;
    height: 25.5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 79.5%;
}

.progressbarContainer {
    background: url(../img/progressbarContainer.png) no-repeat center;
    background-size: cover;
    overflow:hidden;
    display: inline-block;
}

.progressbarLabel {
    text-shadow: -0.1vw -0.1vw 0 #000, 0.1vw -0.1vw 0 #000, -0.1vw 0.1vw 0 #000, 0.1vw 0.1vw 0 #000;
    /*color: yellow;*/
    position: relative !important;
    top: -206%;
    left: 2%;
}

.progressbar {
    position: relative;
    box-shadow: 0px 0px 1vw #85defe;
    left: -10%;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(4,112,173,1), rgba(4,112,173,1));
    /*background: url(../img/progressbar.png) no-repeat left;*/
}

.skillFieldMargin {
    margin-right: 1%;
}

.skillBarMask {
    width:100%;
    height:100%;
    position:relative;
    background: url(../img/progressgrid.png) no-repeat left;
    top: -100%;
}

#skillHintSkillName {
    text-transform: capitalize;
}

.skillPlus {
    display:inline-block;
    background: url(../img/icons/skillplus.png) no-repeat;
    background-size: cover;
    width: 1.5vw;
    height: 1.5vw;
    top: -0.3vw;
    position: relative;
    cursor: pointer;
}

.skillPlus.disabled {
    filter: none;
    -webkit-filter: grayscale(100%) !important;
    -moz-filter:    grayscale(100%) !important;
    -ms-filter:     grayscale(100%) !important;
    -o-filter:      grayscale(100%) !important;
    cursor: no-drop !important;
}

.skillControls {
    height: 2vw;
}

.skillIcon {
    display:inline-block;
    position: relative;
    top: -0.3vw;
    background: url(../img/icons/skill_icons.png) no-repeat;
    background-size: 600%;
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 0.7vw;
}

#experience-info {
    width: 98%;
    padding-top: 0.5vw;
    height: 10%;
    text-align: center;
    font-size: 1.5vw;
    background-color: rgb(20, 46, 71);
}

#control-panel-toggle.levelupComplete {
    animation: borderok alternate 2s infinite;
    left: 24.8%;
    top: 78.0%;
}

@-webkit-keyframes borderok {
    0% {border-color: rgba(255,255,255,0)}
    30% {border-color: rgba(255,255,255,0.4)}
    100% {border-color: rgba(255,255,255,1)}
}

@keyframes borderok {
    0% {border-color: rgba(255,255,255,0)}
    20% {border-color: rgba(255,255,255,0.4)}
    100% {border-color: rgba(255,255,255,1)}
}

#experience-progress-bar {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    left: -100%;
    z-index: 0;
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(44,95,106,1) 100%);
    -webkit-animation: sparks 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    animation: sparks 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both ;*/
    background-size: 200% 200%;

    background-image: repeating-linear-gradient(
    	45deg,
        rgba(2,0,36,1) 0%,
        rgba(44,95,106,1) 45%,
        rgba(2,0,36,1) 100%
    );
    animation: diagonal alternate 5s infinite;
    -webkit-animation: diagonal alternate 5s infinite;
}

@-webkit-keyframes diagonal {
    0% {background-position: 0% 50%}
    100% {background-position: 100% 50%}
}

@keyframes diagonal {
    0% {background-position: 0% 50%}
    100% {background-position: 100% 50%}
}

#control-panel-toggle-label {
    position: absolute;
    width: 100%;
    left: 0%;
    text-align: center;
    display: inline-block;
    z-index: 10002;
    text-shadow: 0.15vw 0.15vw black;
    color: white;
}

.close-control-panel {
    cursor: pointer;
    float: right;
    margin-top: 0.4%;
    margin-right: 4%;
    color: red !important;
}