.richText .red { color: red; }
.richText .yellow { color: yellow; }
.richText .orange { color: orange; }
.richText .green { color: green; }
.richText .blue { color: blue; }
.richText .darkblue { color: darkblue; }
.richText .violet { color: violet; }
.richText .purple { color: purple; }

.richText .terran { color: #b20d13; }
.richText .protoss { color: #fbc51b; }
.richText .zerg { color: #662670; }
.richText .minerals { color: #81B3F8; display: inline-block;}
.richText .gas { color: green; display: inline-block;}
.richText .terrazine { color: violet; display: inline-block;}
.richText .supply { display: inline-block;}
.richText .bronze { color: #4d2414; }
.richText .silver { color: #dbd9e2; }
.richText .gold { color: #d5c650; }
.richText .platinum { color: #6c9ebe; }
.richText .diamond { color: #64e3e8; }
.richText .tpscaccent { color: #c59c76; }

.richText .inlineIcon {
    position: relative;
    display: inline-block;
    background-image: url(../img/icons/corner_icons.png);
    background-size: 880%;
    background-repeat: no-repeat;
    top: 0.4vw;
}

.event .inlineIcon {
    width: 2vw;
    height: 2vw;
}

#skillHint .inlineIcon {
    width: 1.4vw;
    height: 1.4vw;
}

.richText .minerals > .inlineIcon { background-position-x: 50%; }
.richText .gas > .inlineIcon { background-position-x: 62.7%; }
.richText .supply > .inlineIcon { background-position-x: 75%; }
.richText .terrazine > .inlineIcon { background-position-x: 87.5%; }

.in-game-events-widget {
    position: absolute;
    top: 70%;
    left: 20%;
    width: 58.5%;
    height: 7%;
    z-index: 100000;
}

.in-game-events-widget > .log {
    width: 100%;
}

.richText {
    width: 98%;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: black;
    border: 1px solid #B9936F;
    color: white;
    padding: 0.5% 1% 0.5% 1%;
}

.in-game-events-widget .event {
    width: 98%;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: black;
    border: 1px solid #B9936F;
    font-family: Michroma;
    font-size: 1.5vw;
    color: white;
    padding: 0.5% 1% 0.5% 1%;
}

.achievement-name {
    color: red !important;
    font-weight: bold;
}

.scale-up-bottom {
    -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-bottom {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}

@keyframes scale-up-bottom {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}