@font-face {
    font-family: "Michroma";
    src: url("./michroma-latin-400.woff2") format('woff');
}

body {
	font-family: "Michroma";
    font-size: 1000px;
    background-size:100%;
    overflow: hidden;
    transform-origin: top left;
    user-select: none;
}


.value-warn {
    color: red;
}

.message {
	position: absolute;
    top: 0.3%;
    right: 2.5%;
    font-size: 1.2vw;
    color: lightblue;
}

#extension-hint {
    display:none;
    position: absolute;
    width: 20%;
    height: 40%;
    right: 0%;
    top: 30%;
    background-color: black;
    background: url(../img/exthint.png);
    background-size: 100% 100%;
    opacity: 0.7;
    border: 0.2vw solid #B9936F;
}

#extension-hint .close {
    position: relative;
    background: url(../img/icons/close_icon.png);
    background-size: 100% 100%;
    top: 0%;
    left: 87%;
    width: 10%;
    height: 10%;
    margin: 1%;
}

.close:active {
    filter: brightness(2);
}