@font-face {
    font-family: "Michroma";
    src: url("./michroma-latin-400.woff2") format('woff');
}

body {
	width: 1920px;
	height: 1080px;
	font-family: "Michroma";
    font-size: 1000px;
    background-size:100%;
}

.resource {
	width: 4.5%;
	height: 3%;
	display: none;
	position: absolute;
	top: 0.8%;
	padding: 0;
	/*font-size: 1.25vh;*/
	font-size: 0.8vw;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
}

.resource .value {
	display: inline-block;
	position: relative;
    top: -30%;
    width: 60%;
}

.resource .icon {
	background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40%;
    height: 100%;
}

.minerals {
	left: 74.4%;
}

.gas {
	left: 80.9%;
}

.supply {
	left: 87.4%;
}

.minerals-income {
	left: 74.4%;
}

.gas-income {
	left: 80.9%;
}

.minerals .icon {
	background-image: url(../img/icons/minerals.png);
}

.gas .icon {
	background-image: url(../img/icons/gas.png);
}

.supply .icon {
	background-image: url(../img/icons/supply.png);
}

.minerals-income .icon {
	background-image: url(../img/icons/minerals-income.png);
}

.gas-income .icon {
	background-image: url(../img/icons/gas-income.png);
}

.income {
	position: absolute;
    top: 5%;
}

.feeding {
	display: none;
	position: absolute;
    top: 5%;
/*    left: 81%; */
	left: 74.4%;
    font-size: 2.2%;
    color: lightblue;
    letter-spacing: 1px;
    font-weight: bold;
    width: 25%;
    height: 3%;
}

.feeding .value {
	position: relative;
	top: -8%;
	width: 90%;

	color: white;
	margin-left: 2%;
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.icon-feeding {
	background-image: url(../img/icons/feedingarrow.png);
	background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1%;
    width: 6%;
    height: 100%;
	display: inline-block;
}

.message {
	background-color: black;
	position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2.5%;
    padding: 5px;
    padding-right: 10px;
    color: lightblue;
}

body {
	transform-origin: top left;
}

