.resource {
	width: 5.5%;
	height: 3%;
	display: none;
	position: absolute;
	top: 0.8%;
	padding: 0;
	/*font-size: 1.25vh;*/
	font-size: 0.8vw;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
}

.resource .value {
	display: inline-block;
	position: relative;
    top: -34%;
    width: 52%;
}

.focus { left: 86.9%; }

.resource.minerals, .resource.minerals-income, .stance, .army {
	left: 72.4%;
}

.resource.gas, .resource.gas-income {
	left: 79.7%;
}

.resource.supply, .resource.workers-moving, .resource.terrazine {
	left: 87.0%;
}

.resource.workers-minerals  { left: 72.0%; }
.resource.workers-gas { left: 79.3%; }
.resource.workers-moving { left: 86.6%; }
.resource.workers-idle { left: 93.9%; }

.resource.income, .resource.terrazine, .feeding {
	position: absolute;
    top: 5.5%;
}

.resource.workers {
    position: absolute;
    top: 10%;
    height: 4%;
}

.resource.workers .value {
    width: 20%;
    top: -1.5vw;
}

.resource.workers .statIcon {
    /*
    width: 70%;
    height: 169%;
    background-size: 878%;*/
    width: 3.0vw;
    height: 3.0vw;
    background-size: 980%;
}

.stance .label, .focus .label { color: lightblue; }

.statIcon, .feeding .icon {
	background-image: url(../img/icons/corner_icons.png);
	display: inline-block;
	background-size: 900%;
    background-repeat: no-repeat;
    height: 2.2vw;
}

.statIcon {
    width: 2.2vw;
    margin-right: 5%;
}

.feeding .icon{
    width: 2.2vw;
}

.workers-minerals .statIcon { background-position-x: 0%; }
.workers-gas .statIcon { background-position-x: 12.5%; }
.workers-moving .statIcon { background-position-x: 25%; }
.workers-idle .statIcon { background-position-x: 37.6%; }
.minerals .statIcon, .minerals-income .statIcon { background-position-x: 50%; }
.gas .statIcon, .gas-income .statIcon { background-position-x: 62.5%; }
.supply .statIcon { background-position-x: 75%; }
.terrazine .statIcon { background-position-x: 87.6%; }
.feeding .icon { background-position-x: 100%; }

.minerals-income .statIcon, .gas-income .statIcon {
    border: 0.2vw solid green;
    width: 1.8vw;
    height: 1.8vw;
}


/*  feeeeeeeeding  */

.feeding {
	display: none;
/*    left: 81%; */
	left: 72.4%;
    font-size: 1vw;
    color: lightblue;
    letter-spacing: 1px;
    font-weight: bold;
    width: 15%;
    height: 3%;
}

.feeding .value {
	position: relative;
    top: -0.5vw;
	width: 80%;
    margin-left: 1%;
	color: white;
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.terrazine .value {
    top: -0.7vw;
}

.stance .label, .focus .label { color: lightblue; }

.stance, .focus {
    position: absolute;
    top: 16.0%;
    width: 13.8%;
    height: 2%;
	font-size: 1.1vw;
    color: white;
}

.army {
    position: absolute;
    top: 19.5%;
    width: 26%;
	font-size: 1vw;
    color: white;
    text-shadow: 0.1vw 0.1vw 1px #000000;
    text-align: right;
}

.army .unit {
    position: relative;
    display: inline-block;
    background-image: url(../img/icons/unit_table.png);
    background-size: 2000%;
/*    width: 10%; height: 2.4vw; /* 10 in a row */
    width: 12%; height: 3.0vw; /* 8 in a row */
    text-align: center;
}

.army .unit .count {
    position: relative;
    bottom: -65%;
    opacity: 0.8;
    /*background-color: black;*/
}