.minimap {
    /*344 x 344*/
    width: 18.25%;
    height: 32.0%;
    position: absolute;
    left: 0.4%;
    top: 62.4%;
}

.minimap-click-data, .command-card-click-data {
    /*background: url(../img/clickdatacontainer.png);*/
    background-color: black;
    padding-top: 0.2vw;
    border: 0.1vw solid #6e6e6e;
    border-radius: 0.6vw;
    background-size: 100% 100%;
    width: 5.02%;
    height: 2.55%;
    position: absolute;
    font-family: 'HyperFont', monospace;
    font-weight: bolder;
    font-size: 1.1vw;
    text-align: center;
    color: lightblue;
    top: 95.9%;
}

.minimap-click-data {
    left: 6.3%;
}

.command-card {
    position: absolute;
    top: 74.8%;
    right: 0.2%;
    width: 19.1%;
    height: 19.00%;
}

.command-card-click-data {
    left: 81.7%;
}

#clipboard {
    display:none;
}