@font-face {
    font-family: "Michroma";
    src: url("./michroma-latin-400.woff2") format('woff');
}

body {
    width: 1920px;
	font-family: "Michroma";
    font-size: 1000px;
    background-size:100%;
    background-color:black;
    overflow: hidden;
}

.resource {
	width: 25.5%;
	display: none;
	position: absolute;
	top: 2vw;
	padding: 0;
	/*font-size: 1.25vh;*/
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 3.5vw;
}

.feeding, .resource {
    /*height: 10.2%;*/
    height: 6vw;
}

.resource .value {
	display: inline-block;
	position: relative;
    top: -32%;
    width: 48%;
    margin-left: 5%;
}

.value-warn {
    color: red;
}

.resource .icon {
	background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 22%;
    height: 100%;
}

.minerals, .minerals-income, .workers-minerals {
	left: 2.4%;
}

.gas, .gas-income, .workers-gas {
	left: 27.7%;
}

.supply, .workers-moving, .terrazine {
	left: 52.7%;
}

.workers-idle {
	left: 77.7%;
}

.workers-minerals .icon {
	background-image: url(../img/icons/wrench_min.png);
}

.workers-gas .icon {
	background-image: url(../img/icons/wrench_gas.png);
}

.workers-idle .icon {
	background-image: url(../img/icons/wrench_idle.png);
}

.workers-moving .icon {
	background-image: url(../img/icons/wrench_mov.png);
}

.minerals .icon {
	background-image: url(../img/icons/minerals.png);
}

.gas .icon {
	background-image: url(../img/icons/gas.png);
}

.supply .icon {
	background-image: url(../img/icons/supply.png);
}

.minerals-income .icon {
	background-image: url(../img/icons/minerals-income.png);
}

.gas-income .icon {
	background-image: url(../img/icons/gas-income.png);
}

.terrazine .icon {
	background-image: url(../img/icons/terrazine28.png);
}

.income, .terrazine {
	position: absolute;
    top: 12vw;
}

.workers {
    position: absolute;
    top: 22vw;
}

.feeding {
    position: absolute;
    top: 12vw;
	display: none;
/*    left: 81%; */
	left: 2.4%;
    color: lightblue;
    letter-spacing: 1px;
    font-size: 3.8vw;
    font-weight: bold;
    width: 100%;
}

.feeding .value {
	position: relative;
	top: -8%;
	width: 89%;
    margin-left: 1%;
	color: white;
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.feeding .icon{
	background-image: url(../img/icons/feedingarrow2.png);
	background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1%;
    width: 9%;
    height: 100%;
	display: inline-block;
}

.message {
	position: absolute;
    top: 2.4vw;
    left: 2.5%;
    font-size: 5.2vw;
    color: lightblue;
}

body {
	transform-origin: top left;
}

.stance .label, .focus .label { color: lightblue; }

.stance, .focus {
    position: absolute;
    top: 30vw;
    width: 50%;
    height: 2%;
	font-size: 4.0vw;
    color: white;
}

.stance { left: 2.4%; }
.focus { left: 52.4%; }

#clipboard {
    display:none;
}